<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <!--<add name="defaultDatabase" connectionString="Data Source=CHEOLSEUNG-HP\SQLEXPRESS;Initial Catalog=DAS;Persist Security Info=True;User ID=Test;Password=hi8OMx0dNSc=;connect timeout=6000;Max Pool Size=10000" providerName="System.Data.SqlClient"/>-->
    <add name="defaultDatabase" connectionString="Data Source=192.168.51.31;Initial Catalog=SORTER_WIVIS;Persist Security Info=True;User ID=sa;Password=JLUjeMhSU+m6M6GXOhnqgw==;connect timeout=6000;Max Pool Size=10000" providerName="System.Data.SqlClient"/>
    <add name="DataBaseInformation" connectionString="Data Source=192.168.0.13; Initial Catalog=SORTER_WIVIS;Persist Security Info=True;User ID=sa;Password=123qwe!@#;Connection Timeout=1;Max Pool Size=10000" providerName="System.Data.SqlClient"/>
	  <!--<add name="DataBaseInformation" connectionString="Data Source=192.168.0.13\MSSQLSERVER2017,14333; Initial Catalog=LF_SORTER_20201113;Persist Security Info=True;User ID=sa;Password=123qwe!@#;Connection Timeout=1;Max Pool Size=10000" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="LineCount" value="1"/>
    <add key="LocalLogFileDir" value="contolor\logs"/>
    <add key="Controller" value="3"/>
	  <add key="OracleDatabaseip" value="User ID= WMSUSER;Password=wms_user;pooling=false;Data Source=WIVIS_DB"/>
	  <add key="JBCOUNT" value="4"/>
	  <add key="Port" value="192.168.0.150:1001,192.168.0.151:1001,192.168.0.152:1001,192.168.0.153:1001,192.168.1.154:1001,192.168.1.155:1001,192.168.1.156:1001,192.168.1.157:1001"/>
	  <!--<add key="Port" value="192.168.0.180:1001,192.168.0.181:1001,192.168.0.182:1001,192.168.1.153:1001,192.168.1.154:1001,192.168.1.155:1001,192.168.1.156:1001,192.168.1.157:1001" />-->
	  <add key="Pc" value="1"/>
	  <add key="LocalIP" value="192.168.0.100"/>
	  <add key="multi" value="4"/>
	  <add key="Blocks" value="4"/>
	  <add key="SCANNER" value="1"/>
	  <add key="HANEDEX" value="http://btob.e-handex.co.kr/work/app/iv/ivie81/ivie81_s6.jsp?url="/>
	  <add key="DISP" value="1"/>
	  <add key="DISPL" value="29000"/>
	  <add key="DISPT" value="0"/>
	  <!--<add key="JBCOUNT" value="3" />-->
    <add key="LCDFALSH" value="1"/>
    <add key="LCDLIGHT" value="1"/>
    <add key="PLAYSOUND" value="N"/>
    <add key="MaxOrderCount" value="9"/>
    <add key="PrintBillUseYN" value="Y"/>
    <add key="PrintLabelUseYN" value="Y"/>
    <add key="DefaultPrinterInvoice" value="DocuCentre SC2020"/>
    <add key="DefaultPrinterLabel" value="DocuCentre SC2020"/>
    <add key="PrintFooterText" value="Commencer Co."/>
    <add key="DLV_POSITION" value="궁동특화(대)"/>
    <add key="DLV_PRICE" value="2,500(원1)"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls" publicKeyToken="5bb2a467cbec794e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2016.3.1024.40" newVersion="2016.3.1024.40"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls.UI" publicKeyToken="5bb2a467cbec794e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2016.3.1024.40" newVersion="2016.3.1024.40"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TelerikCommon" publicKeyToken="5bb2a467cbec794e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2016.3.1024.40" newVersion="2016.3.1024.40"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
