<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
	</configSections>
	<dataConfiguration defaultDatabase="defaultDatabase"/>
	<connectionStrings>
		<!--<add name="defaultDatabase" connectionString="Data Source=CHEOLSEUNG-HP\SQLEXPRESS;Initial Catalog=DAS;Persist Security Info=True;User ID=Test;Password=hi8OMx0dNSc=;connect timeout=6000;Max Pool Size=10000" providerName="System.Data.SqlClient"/>-->
		<add name="defaultDatabase" connectionString="Data Source=127.0.0.1;Initial Catalog=DPS_B2B;Persist Security Info=True;User ID=sa;Password=JLUjeMhSU+m6M6GXOhnqgw==;connect timeout=6000;Max Pool Size=10000" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="Databaseip" value="127.0.0.1"/>
		<add key="LocalLogFileDir" value="logs"/>
		<add key="ftpip" value="192.168.0.29"/>
		<add key="ftpID" value="bowoosystem"/>
		<add key="ftpPW" value="123456"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
		<add key="batchfilepath" value="C:\"/>
		<add key="PrintBillUseYN" value="Y"/>
		<add key="PrintLabelUseYN" value="Y"/>
		<add key="DefaultPrinterInvoice" value="DocuCentre SC2020"/>
		<add key="DefaultPrinterLabel" value="TEC B-EV4 (203 dpi)"/>
		<add key="PrintFooterText" value="Commencer Co."/>
		<add key="DLV_POSITION" value="궁동특화(대)"/>
		<add key="DLV_PRICE" value="2,500(원11323)"/>
		<add key="Port" value="192.168.0.150"/>
		<add key="PC_NO" value="1"/>
		<add key="excelUplodaPath" value="D:\excel"/>
		<add key="labelPrint01" value="LABEL_01"/>
		<add key="labelPrint02" value="LABEL_02"/>
		<add key="laserPrint01" value="LASER_01"/>
		<add key="laserPrint02" value="LASER_02"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>

	<runtime>

		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

			<dependentAssembly>

				<assemblyIdentity name="Telerik.WinControls" publicKeyToken="5bb2a467cbec794e" culture="neutral"/>

				<bindingRedirect oldVersion="0.0.0.0-2016.3.1024.40" newVersion="2016.3.1024.40"/>

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="Telerik.WinControls.UI" publicKeyToken="5bb2a467cbec794e" culture="neutral"/>

				<bindingRedirect oldVersion="0.0.0.0-2016.3.1024.40" newVersion="2016.3.1024.40"/>

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="TelerikCommon" publicKeyToken="5bb2a467cbec794e" culture="neutral"/>

				<bindingRedirect oldVersion="0.0.0.0-2016.3.1024.40" newVersion="2016.3.1024.40"/>

			</dependentAssembly>

			<dependentAssembly>

				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>

				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>

			</dependentAssembly>

		</assemblyBinding>

	</runtime>
</configuration>
