USE [SORTER_WIVIS]
GO
/****** Object:  StoredProcedure [dbo].[USP_S009_PAGE2_01_L_LOADING_LIST]    Script Date: 2024-10-25 오후 2:49:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- ================================================
-- Author	   : <KIM SEONG MIN>
-- Create date : <2016-07-19>
-- Alter Date  :
-- Alter Devel : 
-- Alter Descr :
-- Description : <S009 상차 관리>
--				 <매장별 상차 리스트>
-- ================================================

ALTER PROC [dbo].[USP_S009_PAGE2_01_L_LOADING_LIST]

	@HEADER_PARAMS VARCHAR(8000) = ''
	,@GRID_PARAMS VARCHAR(8000) = ''
	,@KEY_PARAMS VARCHAR(8000) = ''

AS


BEGIN

	SET NOCOUNT ON;

	DECLARE @D_DETERMITER VARCHAR(2) = ';#' -- 구분자
	-- Header Params Parsing -------------------------------------------------
	DECLARE @TBL_HEADER_PARAMS TABLE (KEY_STR VARCHAR(100), VALUE1 VARCHAR(200))
	INSERT INTO @TBL_HEADER_PARAMS
	SELECT KEY_STR, VALUE1 FROM FN_SPLIT_KEY_VALUE(@HEADER_PARAMS,@D_DETERMITER)
	--------------------------------------------------------------------------
	-- Grid Search Params Parsing --------------------------------------------
	DECLARE @TBL_GRID_PARAMS TABLE (KEY_STR VARCHAR(100), VALUE1 VARCHAR(200))
	INSERT INTO @TBL_GRID_PARAMS
	SELECT KEY_STR, VALUE1 FROM FN_SPLIT_KEY_VALUE(@GRID_PARAMS,@D_DETERMITER)
	--------------------------------------------------------------------------
	-- Key Params Parsing ----------------------------------------------------
	DECLARE @TBL_KEY_PARAMS TABLE (KEY_STR VARCHAR(100), VALUE1 VARCHAR(200))
	INSERT INTO @TBL_KEY_PARAMS
	SELECT KEY_STR, VALUE1 FROM FN_SPLIT_KEY_VALUE(@KEY_PARAMS,@D_DETERMITER)
	--------------------------------------------------------------------------

	-- Set Key Param Value
	DECLARE @D_BIZ_DAY VARCHAR(10) = (SELECT VALUE1 FROM @TBL_HEADER_PARAMS WHERE KEY_STR = 'bizday')
	DECLARE @D_BRAND VARCHAR(10) = (SELECT VALUE1 FROM @TBL_HEADER_PARAMS WHERE KEY_STR = 'BRAND')
	DECLARE @D_BATCH VARCHAR(10) = (SELECT VALUE1 FROM @TBL_HEADER_PARAMS WHERE KEY_STR = 'wrkseq')
	DECLARE @D_bundle_box VARCHAR(10) = (SELECT VALUE1 FROM @TBL_HEADER_PARAMS WHERE KEY_STR = 'bundle_box')


	DECLARE @D_CHUTE_NO VARCHAR(10) = (SELECT VALUE1 FROM @TBL_KEY_PARAMS WHERE KEY_STR = 'CHUTE_NO')
	DECLARE @D_BOX_INV VARCHAR(12) = (SELECT VALUE1 FROM @TBL_KEY_PARAMS WHERE KEY_STR = 'BOX_INV')

	-- Set Grid Param Value
	DECLARE @G_SHOP_CD VARCHAR(100) = (SELECT VALUE1 FROM @TBL_GRID_PARAMS WHERE KEY_STR = 'SHOP_CD')
	DECLARE @G_SHOP_NM VARCHAR(100) = (SELECT VALUE1 FROM @TBL_GRID_PARAMS WHERE KEY_STR = 'SHOP_NM')
	DECLARE @G_CHUTE_NO VARCHAR(100) = (SELECT VALUE1 FROM @TBL_GRID_PARAMS WHERE KEY_STR = 'CHUTE_NO')
	DECLARE @G_TRANS_CD VARCHAR(100) = (SELECT VALUE1 FROM @TBL_GRID_PARAMS WHERE KEY_STR = 'TRANS_CD')
	

	if @D_BRAND = 'ALL'
	begin 
		set @D_BRAND = '%'
	end


	SELECT
			-- '<HEADERCHECKBOX=FALSE;WIDTH=20>',
			--'<WIDTH=115;TEXTALIGN=CENTER;STITLE=TOTAL;MERGE=TRUE>박스번호',
			'<WIDTH=50;TEXTALIGN=CENTER;DATA=TRUE;KEY=TRUE;STITLE=TOTAL;>배송코드',
			'<WIDTH=50;TEXTALIGN=CENTER;DATA=TRUE;KEY=TRUE;>슈트번호',
			'<WIDTH=50;TEXTALIGN=CENTER;>출고유형',
			'<ISVISIBLE=FALSE;DATA=TRUE;KEY=TRUE;>상태',
			'<WIDTH=60;TEXTALIGN=CENTER;DATA=TRUE;KEY=TRUE;>매장코드',
			'<WIDTH=70;TEXTALIGN=CENTER>매장명',
			'<WIDTH=50;TEXTALIGN=CENTER;SUM=TRUE>총 박스',
			--'<WIDTH=50;TEXTALIGN=RIGHT;SUM=TRUE>총 수량'
			'<WIDTH=35;TEXTALIGN=CENTER;SUM=TRUE>총 수량',
			'<WIDTH=35;ISVISIBLE=FALSE;TEXTALIGN=CENTER;DATA=TRUE;KEY=TRUE>배치'
			--'<WIDTH=50;TEXTALIGN=RIGHT>RFID'


	if @D_bundle_box = 'true' --번들 마감한 박스만 조회
	begin
		SELECT TRANS_CD		,CHUTE_NO		,CASE WHEN STATUS = 3 THEN '번들출고' ELSE '소터출고' END OUT_VALUE	,STATUS		
			,SHOP_CD		,SHOP_NM		,COUNT(DISTINCT BOX_NO) AS BOX_COUNT
			,SUM(WRK_QTY) AS ORD_COUNT		,''				
		FROM IF_BOX_LIST  with (nolock)
			WHERE  BIZ_DAY = @D_BIZ_DAY
			AND BRAND_CD like @D_BRAND
			AND WORK_TYPE = 2
			and STATUS = 3
			and BATCH like case when @D_BATCH = '000' then '%' else @D_BATCH end 
			--AND BATCH = @D_BATCH
			AND (CHUTE_NO LIKE '%' + @G_CHUTE_NO + '%' OR ISNULL(@G_CHUTE_NO,'') = '')
			AND (SHOP_CD LIKE '%' + @G_SHOP_CD + '%' OR ISNULL(@G_SHOP_CD,'') = '')
			AND (TRANS_CD LIKE '%' + @G_TRANS_CD + '%' OR ISNULL(@G_TRANS_CD,'') = '')
		GROUP BY CHUTE_NO	,SHOP_CD	,SHOP_NM	,TRANS_CD	,STATUS
		ORDER BY CHUTE_NO
	end
	else
	begin
		SELECT TRANS_CD		,CHUTE_NO		,CASE WHEN STATUS = 3 THEN '번들출고' ELSE '소터출고' END OUT_VALUE	,STATUS				
			,SHOP_CD		,SHOP_NM		,COUNT(DISTINCT BOX_NO) AS BOX_COUNT
			,SUM(WRK_QTY) AS ORD_COUNT		,BATCH			
		FROM IF_BOX_LIST with (nolock)
			WHERE  BIZ_DAY = @D_BIZ_DAY
			AND BRAND_CD like @D_BRAND
			and BATCH like case when @D_BATCH = '000' then '%' else @D_BATCH end 
			AND WORK_TYPE = 2
			AND (CHUTE_NO LIKE '%' + @G_CHUTE_NO + '%' OR ISNULL(@G_CHUTE_NO,'') = '')
			AND (SHOP_CD LIKE '%' + @G_SHOP_CD + '%' OR ISNULL(@G_SHOP_CD,'') = '')
			AND (SHOP_NM LIKE '%' + @G_SHOP_NM + '%' OR ISNULL(@G_SHOP_NM,'') = '')
			AND (TRANS_CD LIKE '%' + @G_TRANS_CD + '%' OR ISNULL(@G_TRANS_CD,'') = '')
		GROUP BY CHUTE_NO	,SHOP_CD	,SHOP_NM	,BATCH	,TRANS_CD	,STATUS
		ORDER BY CHUTE_NO
	
	end

END

