USE [SORTER_WIVIS]
GO
/****** Object:  StoredProcedure [dbo].[USP_S009_PAGE2_02_L_BOXING_LIST_DETAIL]    Script Date: 2024-10-25 오후 2:49:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ================================================
-- Author	   : <KIM SEONG MIN>
-- Create date : <2016-07-19>
-- Alter Date  :
-- Alter Devel : 
-- Alter Descr :
-- Description : <S009 상차 관리>
--				 <박스 상세 리스트>
-- ================================================

ALTER PROC [dbo].[USP_S009_PAGE2_02_L_BOXING_LIST_DETAIL]

	@HEADER_PARAMS VARCHAR(8000) = ''
	,@GRID_PARAMS VARCHAR(8000) = ''
	,@KEY_PARAMS VARCHAR(8000) = ''

AS

BEGIN

	SET NOCOUNT ON;

	DECLARE @D_DETERMITER VARCHAR(2) = ';#' -- 구분자
	-- Header Params Parsing -------------------------------------------------
	DECLARE @TBL_HEADER_PARAMS TABLE (KEY_STR VARCHAR(100), VALUE1 VARCHAR(200))
	INSERT INTO @TBL_HEADER_PARAMS
	SELECT KEY_STR, VALUE1 FROM FN_SPLIT_KEY_VALUE(@HEADER_PARAMS,@D_DETERMITER)
	--------------------------------------------------------------------------
	-- Grid Search Params Parsing --------------------------------------------
	DECLARE @TBL_GRID_PARAMS TABLE (KEY_STR VARCHAR(100), VALUE1 VARCHAR(200))
	INSERT INTO @TBL_GRID_PARAMS
	SELECT KEY_STR, VALUE1 FROM FN_SPLIT_KEY_VALUE(@GRID_PARAMS,@D_DETERMITER)
	--------------------------------------------------------------------------
	-- Key Params Parsing ----------------------------------------------------
	DECLARE @TBL_KEY_PARAMS TABLE (KEY_STR VARCHAR(100), VALUE1 VARCHAR(200))
	INSERT INTO @TBL_KEY_PARAMS
	SELECT KEY_STR, VALUE1 FROM FN_SPLIT_KEY_VALUE(@KEY_PARAMS,@D_DETERMITER)
	--------------------------------------------------------------------------

	-- Set Key Param Value
	DECLARE @D_BIZ_DAY VARCHAR(10) = (SELECT VALUE1 FROM @TBL_HEADER_PARAMS WHERE KEY_STR = 'bizday')
	DECLARE @D_BRAND VARCHAR(10) = (SELECT VALUE1 FROM @TBL_HEADER_PARAMS WHERE KEY_STR = 'BRAND')
	DECLARE @D_BATCH VARCHAR(10) = (SELECT VALUE1 FROM @TBL_HEADER_PARAMS WHERE KEY_STR = 'wrkseq')

	DECLARE @D_CHUTE_NO VARCHAR(10) = (SELECT VALUE1 FROM @TBL_KEY_PARAMS WHERE KEY_STR = 'CHUTE_NO')
	DECLARE @D_SHOP_CD VARCHAR(10) = (SELECT VALUE1 FROM @TBL_KEY_PARAMS WHERE KEY_STR = 'SHOP_CD')
	DECLARE @G_BATCH VARCHAR(100) = (SELECT VALUE1 FROM @TBL_KEY_PARAMS WHERE KEY_STR = 'BATCH')
	DECLARE @G_TRANS_CD VARCHAR(100) = (SELECT VALUE1 FROM @TBL_KEY_PARAMS WHERE KEY_STR = 'TRANS_CD')
	DECLARE @D_BOX_INV VARCHAR(12) = (SELECT VALUE1 FROM @TBL_KEY_PARAMS WHERE KEY_STR = 'BOX_INV')
	DECLARE @G_STATUS VARCHAR(100) = (SELECT VALUE1 FROM @TBL_KEY_PARAMS WHERE KEY_STR = 'STATUS')

	-- Set Grid Param Value
	DECLARE @G_BOX_NO VARCHAR(100) = (SELECT VALUE1 FROM @TBL_GRID_PARAMS WHERE KEY_STR = 'BOX_NO')
	DECLARE @G_ITEM_CD VARCHAR(100) = (SELECT VALUE1 FROM @TBL_GRID_PARAMS WHERE KEY_STR = 'ITEM_CD')
	DECLARE @G_ITEM_COLOR VARCHAR(100) = (SELECT VALUE1 FROM @TBL_GRID_PARAMS WHERE KEY_STR = 'ITEM_COLOR')
	DECLARE @G_ITEM_SIZE VARCHAR(100) = (SELECT VALUE1 FROM @TBL_GRID_PARAMS WHERE KEY_STR = 'ITEM_SIZE')
	DECLARE @G_ITEM_BAR VARCHAR(100) = (SELECT VALUE1 FROM @TBL_GRID_PARAMS WHERE KEY_STR = 'ITEM_BAR')

	IF @D_BRAND = 'ALL'
	BEGIN
		SET @D_BRAND =  '%'
	END
	
	
	SELECT
			-- '<HEADERCHECKBOX=FALSE;WIDTH=20>',
			'<ISVISIBLE=FALSE;WIDTH=50;TEXTALIGN=CENTER;DATA=TRUE;KEY=TRUE;STITLE=TOTAL;>배송코드',
			'<WIDTH=115;TEXTALIGN=CENTER;STITLE=TOTAL;MERGE=TRUE>박스번호',
			'<WIDTH=100;TEXTALIGN=CENTER>제품코드',
			'<WIDTH=50;TEXTALIGN=CENTER>색상',
			'<WIDTH=50;TEXTALIGN=CENTER>사이즈',
			'<WIDTH=150;TEXTALIGN=CENTER>바코드',
			'<WIDTH=50;TEXTALIGN=RIGHT;SUM=TRUE>수량',
			'<ISVISIBLE=FALSE;DATA=TRUE>슈트번호',
			'<ISVISIBLE=FALSE;DATA=TRUE>매장코드',
			'<ISVISIBLE=FALSE;DATA=TRUE>박스번호',
			'<ISVISIBLE=FALSE;DATA=TRUE>배치'
			--'<WIDTH=50;TEXTALIGN=RIGHT>RFID'

	SELECT 
			-- CAST(0 AS BIT) 'CheckBox',
			BL.TRANS_CD,
			CAST(BL.BOX_NO AS VARCHAR) +'   (제품 수량 : '+ CAST(MAX(ST.ITEM_COUNT) AS VARCHAR) +')',
			ISNULL(BL.ITEM_CD,''),
			ISNULL(BL.ITEM_COLOR,''),
			ISNULL(BL.ITEM_SIZE,''),
			BL.ITEM_BAR,
			ISNULL(SUM(BL.WRK_QTY), 0) AS WRKQTY,
			BL.CHUTE_NO,
			BL.SHOP_CD,
			BL.BOX_NO
			,BL.BATCH
	  FROM IF_BOX_LIST AS BL WITH(NOLOCK) 
	  LEFT OUTER JOIN IF_SHOP_MASTER AS SM WITH(NOLOCK) ON BL.BRAND_CD = SM.BRAND_CD
														AND BL.BRAND_SUBCD = SM.BRAND_SUBCD
														AND BL.SHOP_CD = SM.SHOP_CD
	  LEFT OUTER JOIN
	  (
		  SELECT 
				  BL.BIZ_DAY,
				  BL.BRAND_CD,
				  BL.BRAND_SUBCD,
				  BL.BOX_NO,
				  BL.CHUTE_NO,
				  ISNULL(SUM(BL.WRK_QTY), 0) AS WRKQTY,
				  COUNT(DISTINCT ITEM_CD) AS ITEM_COUNT
		    FROM IF_BOX_LIST AS BL WITH(NOLOCK)
		   GROUP BY BL.BIZ_DAY, BL.BRAND_CD,BRAND_SUBCD, BL.BOX_NO, BL.CHUTE_NO
	  ) AS ST ON BL.BIZ_DAY = ST.BIZ_DAY
	         AND BL.BRAND_CD = ST.BRAND_CD
			AND BL.BRAND_SUBCD = ST.BRAND_SUBCD
			 --AND BL.BATCH = ST.BATCH
			 AND BL.BOX_NO = ST.BOX_NO
			 AND BL.CHUTE_NO = ST.CHUTE_NO
	  WHERE BL.BIZ_DAY = @D_BIZ_DAY
		AND WORK_TYPE = 2
	    AND BL.BRAND_CD LIKE @D_BRAND
	    AND BL.BATCH like case when @D_BATCH = '000' then '%' else @D_BATCH end
		AND BL.STATUS = @G_STATUS
	    AND BL.SHOP_CD = @D_SHOP_CD
		and BL.CHUTE_NO = @D_CHUTE_NO
		AND BL.TRANS_CD = @G_TRANS_CD
		--AND BL.BOX_INV = @D_BOX_INV
	    AND (BL.BOX_NO = @G_BOX_NO OR ISNULL(@G_BOX_NO,'') = '')
	    AND (BL.ITEM_CD LIKE '%' + @G_ITEM_CD + '%' OR ISNULL(@G_ITEM_CD,'') = '')
	    AND (BL.ITEM_COLOR = @G_ITEM_COLOR OR ISNULL(@G_ITEM_COLOR,'') = '')
	    AND (BL.ITEM_SIZE = @G_ITEM_SIZE OR ISNULL(@G_ITEM_SIZE,'') = '')
	    AND (BL.ITEM_BAR LIKE '%' + @G_ITEM_BAR + '%' OR ISNULL(@G_ITEM_BAR,'') = '')
	  GROUP BY BL.TRANS_CD,BL.BOX_NO, BL.ITEM_CD, BL.ITEM_COLOR, BL.ITEM_SIZE, BL.ITEM_BAR, BL.BOX_INV, BL.ITEM_NM, ST.ITEM_COUNT,BL.CHUTE_NO,BL.BATCH,BL.SHOP_CD
	    --HAVING (ISNULL(SUM(BL.WRK_QTY), 0) = @G_WRKQTY OR ISNULL(@G_WRKQTY,'') = '')
	  ORDER BY BL.BOX_NO, BL.ITEM_CD, BL.ITEM_COLOR, BL.ITEM_SIZE, BL.ITEM_BAR

END


