USE [SORTER_WIVIS]
GO
/****** Object:  StoredProcedure [dbo].[USP_S014_02_B_APPLY_LIST]    Script Date: 2024-10-25 오후 2:48:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================
-- Author      : <KIM SEONG MIN>
-- Create date : <2016-07-19>
-- Alter Date  :
-- Alter Devel : 
-- Alter Descr :
-- Description : <S008 배치 관리>
--             <리스트 적용>
-- ================================================

ALTER PROC [dbo].[USP_S014_02_B_APPLY_LIST] 
@HEADER_PARAMS VARCHAR(8000) = '' 
,@DATA_PARAMS VARCHAR(8000) = '' 
,@R_OK VARCHAR(2) = 'NG' OUTPUT
,@R_MESSAGE VARCHAR(MAX) = '' OUTPUT
AS 
BEGIN
   DECLARE @V_DETERMITER VARCHAR(2) = ';#'; -- 구분자
   -- Header Params Parsing -------------------------------------------------
   DECLARE @TBL_HEADER_PARAMS TABLE (KEY_STR VARCHAR(100), VALUE1 VARCHAR(200))
   INSERT INTO @TBL_HEADER_PARAMS
   SELECT KEY_STR, VALUE1 FROM FN_SPLIT_KEY_VALUE(@HEADER_PARAMS,@V_DETERMITER)
   --------------------------------------------------------------------------
   -- Grid Search Params Parsing --------------------------------------------
   DECLARE @TBL_DATA_PARAMS TABLE (KEY_STR VARCHAR(100), VALUE1 VARCHAR(200))
   INSERT INTO @TBL_DATA_PARAMS
   SELECT KEY_STR, VALUE1 FROM FN_SPLIT_KEY_VALUE(@DATA_PARAMS,@V_DETERMITER)
   --------------------------------------------------------------------------
   -- Set Header Param Value
   DECLARE @D_USER   VARCHAR(30) = (SELECT VALUE1 FROM @TBL_HEADER_PARAMS WHERE KEY_STR = 'USER')
   DECLARE @D_AUTH VARCHAR(5) = (SELECT VALUE1 FROM @TBL_HEADER_PARAMS WHERE KEY_STR = 'AUTH')
   DECLARE @D_BIZ_DAY VARCHAR(8) = (SELECT VALUE1 FROM @TBL_HEADER_PARAMS WHERE KEY_STR = 'BIZDAY')
   DECLARE @D_BRAND VARCHAR(10) = (SELECT VALUE1 FROM @TBL_HEADER_PARAMS WHERE KEY_STR = 'BRAND')
   DECLARE @D_WRKSEQ VARCHAR(10) = (SELECT VALUE1 FROM @TBL_HEADER_PARAMS WHERE KEY_STR = 'WRKSEQ')
   -- Set Data Param Value
   DECLARE @D_ITEM_CD      VARCHAR(10)   = (SELECT VALUE1 FROM @TBL_DATA_PARAMS WHERE KEY_STR = 'ITEM_CD')
   DECLARE @D_ITEM_COLOR   VARCHAR(2)   = (SELECT VALUE1 FROM @TBL_DATA_PARAMS WHERE KEY_STR = 'ITEM_COLOR')
   DECLARE @D_ITEM_SIZE   VARCHAR(4)   = (SELECT VALUE1 FROM @TBL_DATA_PARAMS WHERE KEY_STR = 'ITEM_SIZE')
   DECLARE @D_ITEM_BAR      VARCHAR(15)   = (SELECT VALUE1 FROM @TBL_DATA_PARAMS WHERE KEY_STR = 'ITEM_BAR')
   DECLARE @D_ORD_QTY      INT         = (SELECT VALUE1 FROM @TBL_DATA_PARAMS WHERE KEY_STR = 'ORD_QTY')
   DECLARE @D_CHUTE_NO      INT         = (SELECT VALUE1 FROM @TBL_DATA_PARAMS WHERE KEY_STR = 'CHUTE_NO')

   IF NOT EXISTS (SELECT * FROM IF_RCV_DATA WHERE BIZ_DAY = ISNULL(@D_BIZ_DAY,'') AND BRAND_CD = ISNULL(@D_BRAND,'') AND BATCH_NO = ISNULL(@D_WRKSEQ,'')
         AND ITEM_CD = ISNULL(@D_ITEM_CD,'') AND ITEM_COLOR = ISNULL(@D_ITEM_COLOR,'') AND ITEM_SIZE = ISNULL(@D_ITEM_SIZE,'') AND ITEM_BAR = ISNULL(@D_ITEM_BAR,'') AND CHUTE_NO = @D_CHUTE_NO)
   BEGIN
      INSERT INTO IF_RCV_DATA 
      (
         BIZ_DAY      ,CENTER_CD      ,BATCH_NO      ,BRAND_CD      ,ITEM_CD
         ,ITEM_COLOR   ,ITEM_SIZE      ,ITEM_BAR      ,ORD_QTY      ,CHUTE_NO
         ,STATUS
      )
      VALUES
      (
         ISNULL(@D_BIZ_DAY,'')   ,''   ,ISNULL(@D_WRKSEQ,'')   ,ISNULL(@D_BRAND,'')   ,ISNULL(@D_ITEM_CD,'')
         ,ISNULL(@D_ITEM_COLOR,'')   ,ISNULL(@D_ITEM_SIZE,'')   ,ISNULL(@D_ITEM_BAR,'')   ,@D_ORD_QTY   ,@D_CHUTE_NO
         ,0
      )
   END
   ELSE
   BEGIN
      UPDATE IF_RCV_DATA
         SET ORD_QTY = @D_ORD_QTY
      WHERE BIZ_DAY = ISNULL(@D_BIZ_DAY,'') AND BRAND_CD = ISNULL(@D_BRAND,'') AND BATCH_NO = ISNULL(@D_WRKSEQ,'')
         AND ITEM_CD = ISNULL(@D_ITEM_CD,'') AND ITEM_COLOR = ISNULL(@D_ITEM_COLOR,'') AND ITEM_SIZE = ISNULL(@D_ITEM_SIZE,'') AND ITEM_BAR = ISNULL(@D_ITEM_BAR,'') AND CHUTE_NO = @D_CHUTE_NO
   END

END 


