USE [SORTER_WIVIS]
GO
/****** Object:  StoredProcedure [dbo].[USP_S014_03_B_DELETE]    Script Date: 2024-10-25 오후 2:48:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ================================================
-- Author	   : <KIM SEONG MIN>
-- Create date : <2016-07-19>
-- Alter Date  :
-- Alter Devel : 
-- Alter Descr :
-- Description : <S008 배치 관리>
--				 <삭제>
-- ================================================

ALTER PROC [dbo].[USP_S014_03_B_DELETE] 
	@HEADER_PARAMS VARCHAR(8000) = '' 
	,@DATA_PARAMS VARCHAR(8000) = '' 
	,@R_OK VARCHAR(2) = 'NG' OUTPUT
	,@R_MESSAGE VARCHAR(MAX) = '' OUTPUT
AS 
BEGIN

--RAISERROR(@DATA_PARAMS,16,1);

	DECLARE @V_DETERMITER VARCHAR(2) = ';#'; -- 구분자
	-- Header Params Parsing -------------------------------------------------
	DECLARE @TBL_HEADER_PARAMS TABLE (KEY_STR VARCHAR(100), VALUE1 VARCHAR(200))
	INSERT INTO @TBL_HEADER_PARAMS
	SELECT KEY_STR, VALUE1 FROM FN_SPLIT_KEY_VALUE(@HEADER_PARAMS,@V_DETERMITER)
	--------------------------------------------------------------------------
	-- Grid Search Params Parsing --------------------------------------------
	DECLARE @TBL_DATA_PARAMS TABLE (KEY_STR VARCHAR(100), VALUE1 VARCHAR(200))
	INSERT INTO @TBL_DATA_PARAMS
	SELECT KEY_STR, VALUE1 FROM FN_SPLIT_KEY_VALUE(@DATA_PARAMS,@V_DETERMITER)
	--------------------------------------------------------------------------
	-- Set Header Param Value
	DECLARE @D_USER	VARCHAR(30) = (SELECT VALUE1 FROM @TBL_HEADER_PARAMS WHERE KEY_STR = 'USER')
	DECLARE @D_AUTH VARCHAR(5) = (SELECT VALUE1 FROM @TBL_HEADER_PARAMS WHERE KEY_STR = 'AUTH')
	DECLARE @D_BIZ_DAY VARCHAR(8) = (SELECT VALUE1 FROM @TBL_HEADER_PARAMS WHERE KEY_STR = 'BIZDAY')
	DECLARE @D_BRAND VARCHAR(10) = (SELECT VALUE1 FROM @TBL_HEADER_PARAMS WHERE KEY_STR = 'BRAND')
	DECLARE @D_WRKSEQ VARCHAR(10) = (SELECT VALUE1 FROM @TBL_HEADER_PARAMS WHERE KEY_STR = 'WRKSEQ')
	-- Set Data Param Value
	DECLARE @V_BIZ_DAY		VARCHAR(10)	= (SELECT VALUE1 FROM @TBL_DATA_PARAMS WHERE KEY_STR = 'BIZ_DAY')
	DECLARE @V_CENTER_CD		VARCHAR(4)	= (SELECT VALUE1 FROM @TBL_DATA_PARAMS WHERE KEY_STR = 'CENTER_CD')
	DECLARE @V_BATCH_NO		VARCHAR(11)	= (SELECT VALUE1 FROM @TBL_DATA_PARAMS WHERE KEY_STR = 'BATCH_NO')
	DECLARE @V_BRAND_CD		VARCHAR(4)	= (SELECT VALUE1 FROM @TBL_DATA_PARAMS WHERE KEY_STR = 'BRAND_CD')
	DECLARE @V_ITEM_CD		VARCHAR(10)	= (SELECT VALUE1 FROM @TBL_DATA_PARAMS WHERE KEY_STR = 'ITEM_CD')
	DECLARE @V_ITEM_COLOR	VARCHAR(2)	= (SELECT VALUE1 FROM @TBL_DATA_PARAMS WHERE KEY_STR = 'ITEM_COLOR')
	DECLARE @V_ITEM_SIZE	VARCHAR(4)	= (SELECT VALUE1 FROM @TBL_DATA_PARAMS WHERE KEY_STR = 'ITEM_SIZE')
	DECLARE @V_ITEM_BAR		VARCHAR(15)	= (SELECT VALUE1 FROM @TBL_DATA_PARAMS WHERE KEY_STR = 'ITEM_BAR')
	--DECLARE @V_ORD_QTY		INT			= (SELECT VALUE1 FROM @TBL_DATA_PARAMS WHERE KEY_STR = 'ORD_QTY')
	--DECLARE @V_CHUTE_NO		INT			= (SELECT VALUE1 FROM @TBL_DATA_PARAMS WHERE KEY_STR = 'CHUTE_NO')


	DELETE IF_RCV_DATA 
	WHERE BIZ_DAY = @V_BIZ_DAY
	  AND CENTER_CD = @V_CENTER_CD
	  AND BATCH_NO = @V_BATCH_NO
	  AND BRAND_CD = @V_BRAND_CD
	  AND ITEM_CD = @V_ITEM_CD
	  AND ITEM_COLOR = @V_ITEM_COLOR
	  AND ITEM_SIZE = @V_ITEM_SIZE
	  AND ITEM_BAR = @V_ITEM_BAR
	 
END
/*

SELECT * FROM IF_RCV_DATA RD
SELECT KEY_STR, VALUE1 FROM FN_SPLIT_KEY_VALUE('BIZ_DAY=20160516;#CENTER_CD=;#BATCH_NO=CJ001;#BRAND_CD=ALL;#ITEM_CD=ASDF123;#ITEM_COLOR=FF;#ITEM_SIZE=100;#ITEM_BAR=ASDFF111;#',';#')
'BIZ_DAY=20160516;#CENTER_CD=;#BATCH_NO=CJ001;#BRAND_CD=ALL;#ITEM_CD=ASDF123;#ITEM_COLOR=FF;#ITEM_SIZE=100;#ITEM_BAR=ASDFF111;#'
'BIZ_DAY=20160516;#CENTER_CD=;#BATCH_NO=CJ001;#BRAND_CD=ALL;#ITEM_CD=ASDF123;#ITEM_COLOR=FF;#ITEM_SIZE=100;#ITEM_BAR=ASDFF111;#'

20160516;;CJ00;ALL;ASDF123;FF;100;ASDFF111
SELECT * FROM IF_RCV_DATA
	WHERE BIZ_DAY = '20160516'
	  AND CENTER_CD = ''
	  AND BATCH_NO = 'CJ001'
	  AND BRAND_CD = 'ALL'
	  AND ITEM_CD = 'ASDF123'
	  AND ITEM_COLOR = 'FF'
	  AND ITEM_SIZE = '100'
	  AND ITEM_BAR = 'ASDFF111'


*/

